<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <script src="{{ 'primary-min.js' | asset_url }}" defer="defer"></script>

    {{ content_for_header }}

    {% render 'root-variables' %}

    {{ 'base.css' | asset_url | stylesheet_tag }} 
    {{ 'primary-min.css' | asset_url | stylesheet_tag }}

    
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@200..800&display=swap" rel="stylesheet">

  </head>

  <body>
    {% section 'announcement-bar' %}
    {% section 'header' %}

    <h1 class="display">H1 text Display</h1>
    <h1>H1 text</h1>
    <h2>H2 text</h2>
    <h3>H3 text</h3>
    <h4>H4 text</h4>
    <h5>H5 text</h5>
    <h6>H6 text</h6>
    <p class="subheading lg">Subheading 1</p>
    <p class="subheading">Subheading 2</p>

    <p class="lg">Paragraph large</p>
    <p>Paragraph</p>
    <p class="sm">Paragraph small</p>

    <p class="block-text">Block text</p>

    <a href="">A tag</a>

    <a class="btn" href="">Primary Btn</a>
    <a class="btn-secondary" href="">Secondary Btn</a>
    <a class="btn-arrow" href="">Learn More →</a>

    <div class="section" section_color="Floral White" section_size="Small">
      <div class="container-fluid lg">
        <div class="text-wpr">
          <h2>Heading Text</h2>
          <p class="block-text">Paragraph text</p>
          <p>Paragraph text</p>
          <a class="btn">Button</a>
          <a class="btn-secondary">Button</a>
        </div>
      </div>
    </div> 
    <div class="section" section_color="Primary color" section_size="Normal">
      <div class="container-fluid lg">
        <div class="text-wpr">
          <h2>Heading Text</h2>
          <p>Paragraph text</p>
          <p class="block-text">Paragraph text</p>
          <p>Paragraph text</p>
          <a class="btn">Button</a>
          <a class="btn-secondary">Button</a>
        </div>
      </div>
    </div> 
    <div class="section" section_color="Primary color" section_size="Normal">
      <div class="container-fluid lg">
        <div class="text-wpr">
          <h2>Heading Text</h2>
          <p>Paragraph text</p>
          <p class="block-text">Paragraph text</p>
          <p>Paragraph text</p>
          <a class="btn">Button</a>
          <a class="btn-secondary">Button</a>
        </div>
      </div>
    </div> 

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }} 
    </main>

    {% section 'footer' %}

    <script>
      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}',
      };  
    </script>

  </body>
</html>
